    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-full">
            <div class="navbar-header">
                <div class="navbar-logo">
                    <a href="/">Spider</a>
                    <div class="navbar-version">
                        参赛作品
                    </div>
                </div>
            </div>
                <div class="navbar-left navbar-enviro">
                    <div class="navbar-enviro-name">Python</div>
                    <div class="navbar-enviro-server">Python-Scrapy</div>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index">用户分析</a></li>
                    <li><a href="/video">视频分析</a></li>
                    <li><a href="/word">词频分析</a></li>
                    <li><a href="/graph">复杂网络</a></li>
                </ul>
            </div>
        </div>
    </div>