<!DOCTYPE html>
<html>
<head>
    {% include "component/style.html" %}
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>

</head>
<body>
    {% include "component/nav.html" %}
    <div class="row">
        <!-- 侧边栏 -->
        <div class="sidebar">
            <ul class="sidenav">
            </ul>
        </div>
        <div class="main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    词频分析
                </div>
                <div class="panel-body">
                    <div class="col-sm-9 space-height" id="space"></div>
                    <div class="col-sm-9 space-height" id="img"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/spider/word.js"></script>
</html>